
extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}  
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, molestias quasi sapiente aperiam ratione eos rerum, ea beatae tempore at voluptas, quas unde vitae? Saepe perspiciatis, ipsam velit minus ex accusamus, quisquam obcaecati voluptate harum nisi distinctio, ratione fuga suscipit? 
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quasi, similique ducimus, quos fuga quam a ratione saepe maiores quod sunt. Dolor neque voluptate corporis pariatur repellendus distinctio eius assumenda dignissimos, nihil, nisi a labore illo praesentium ratione dolore tempora, ad eligendi voluptates ullam et tempore! Mollitia id magni modi hic a porro provident nostrum, delectus, libero quae natus! 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quasi, similique ducimus, quos fuga quam a ratione saepe maiores quod sunt. Dolor neque voluptate corporis pariatur repellendus distinctio eius assumenda dignissimos, nihil, nisi a labore illo praesentium ratione dolore tempora, ad eligendi voluptates ullam et tempore! Mollitia id magni modi hic a porro provident nostrum, delectus, libero quae natus! 
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus debitis quo neque voluptas alias nam.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus debitis quo neque voluptas alias nam.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus debitis quo neque voluptas alias nam.


